@import url('Images/Lato/Lato-Light.ttf');

* {
    font-family: 'Lato', sans-serif;
}

ion-grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}

.div_screen {
    height: 40vh;
    display: inline-block;

    margin-bottom: 5%;
}

#dicesDisplay {
    top: 90%;
    left: -30%;
}

.bi-caret-right-fill  {
    position: absolute;
}

@media screen and (min-width: 760px) {
    #dicesDisplay {
        top: 90%;
        left: 20%;
    }
}