ion-grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}

.div_screen {
    height: 60vh;
    display: inline-block;
}
.newGame {
    height: 20vh;
}

.div_player {
    background-color: rgb(248, 248, 245);

}

.dice {
   margin-top: 5em;
   margin-left: auto;
   margin-right: auto;
  
}

.bi-caret-right-fill {
    position: absolute;
}